<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Métodos Numéricos - Newton-Raphson</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
    <!-- Bootstrap JS and dependencies -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    ></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/images/logo.itses.png}"
                     width="125" height="38"
                     class="d-inline-block align-top">
                METODOS NUMERICOS
            </a>
        </div>
    </nav>
    <div class="container mt-5">
        <h3 class="mb-4">Formulario de Datos - Newton-Raphson</h3>
        <form class="row-g3" th:action="@{/unit2/solvenewtonraphson}" method="post" th:object="${newtonRaphsony}">
            <div class="mb-3">
                <label for="fx" class="form-label">Ingresa la función f(x):</label>
                <input type="text" class="form-control" id="fx" name="fx" th:field="*{fx}" required placeholder="-1+5.5*x-4*x^2+0.5*x^3">
            </div>
            <div class="mb-3">
                <label for="DFX" class="form-label">Ingresa la derivada f'(x):</label>
                <input type="text" class="form-control" id="DFX" name="DFX" th:field="*{DFX}" required placeholder="5.5-8*x+1.5*x^2">
            </div>
            <div class="mb-3">
                <label for="XI" class="form-label">Valor Inicial Xi:</label>
                <input type="number" step="any" class="form-control" id="XI" name="XI" th:field="*{XI}" required>
            </div>
            <div class="mb-3">
                <label for="Ea" class="form-label">Error Estimado:</label>
                <input type="number" step="any" class="form-control" id="Ea" name="Ea" th:field="*{Ea}" required placeholder="0.01">
            </div>
            <div class="mb-3">
                <label for="IteracionesMaximas" class="form-label">Iteraciones Máximas:</label>
                <input type="number" class="form-control" id="IteracionesMaximas" name="IteracionesMaximas" th:field="*{IteracionesMaximas}" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Calcular</button>
        </form>
    </div>
</body>
</html>
